.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  width: 70%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  width: 40%;
}
