.container {
  min-height: 100vh;
}

.bodyContent {
  display: grid;
  grid-template-columns: 3fr 6fr;
  min-height: calc(100vh - 3rem);
  background-color: #f4f4f4;
}

.bodyContentWithPreview {
  grid-template-columns: minmax(0, 3fr) minmax(0, 6fr) minmax(0, 6fr);
}

.leftContent {
  background-color: white;
  border-radius: 2rem;
  margin: 1rem;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 32px 24px 0px;
}

.inputsContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttomContent {
  width: 100%;
  display: flex;
}

.buttom {
  font-size: 0.8rem !important;
  padding: 0.4rem !important;
  background-color: #5070dd;
}

.hightContent {
  margin: 1rem 1rem 1rem 0;
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 24px 0px;
  overflow: hidden;
}

.previewFormsContent {
  margin: 1rem 1rem 1rem 0;
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 24px 0px;
  overflow: hidden;
  padding: 1rem;
}
