.container {
  margin: 2rem;
  width: calc(100% - 4rem);
}

.gridContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.gridContainerOndeLine {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex: 1;
  margin-left: 0;
  align-items: stretch;
}

.gridContainerOndeLine > * {
  align-self: stretch;
}
