.container {
  padding: 16px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  height: 100vh;
}

.formBox {
  gap: 5rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 18px;
}

.stepperBox {
  width: 100%;
  margin-bottom: 2rem;
}

.buttonsBox {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
}

.submitButton {
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--accent-2);
  justify-content: center;
  width: 50%;
  font-weight: 600;
  cursor: pointer;
  max-height: 44px !important;
  background-color: #f4f4f4;
}
